.selected_item {
  background:#FDFFE5 !important;
}

.warning {
    border-radius:0 0 10px 10px;
    position:absolute;
    top:0;
    left:40%;
    background:#FF2C46;
    padding:10px 20px;
    border-color:#fff;
    color:#fff;
    display:none;
    box-shadow:1px 2px 3px #ccc;
}

.tau-board-view .tau-grid .tau-cell, .tau-board-view .tau-backlog-body .tau-cell, .tau-board-view .tau-timeline .tau-timeline-flow .tau-cell {
    min-height:115px !important;
}
.action_container {
    display:none;
    padding:8px;
}
.action_container input {
    width:99%;
    font-size:18px;
}

.ui-description p {
    color:#888;
    font-size:16px !important;
    line-height:23px !important;
    color:#555;
}
#advanced_shortcuts {
  background:#fff;
  position:fixed !important;
  left:300px !important;
  top:100px;
  width:520px;
  padding:10px !important;
  border:1px solid #ddd;
  height:auto !important;
  overflow:hidden;
  text-align:left !important;
  box-shadow:1px 2px 3px #333;
  z-index:9999;
}
#overlay_shortcuts table {
  margin-right:20px;
}
#overlay_shortcuts table,
#advanced_shortcuts {
  float:left;
}

.ui-autocomplete {
    background:#fff;
    position:absolute;
    z-index:20;
    margin:0;
    padding:5px;
    opacity:0.9;
    width:40%;
}
.ui-autocomplete li {
    list-style:none;
}
.ui-autocomplete a {
    display:block;
}
.ui-state-hover {
    background:#ffffe7;
}
.tau-pane-collapser *,
.tau-btn-add-bg,
.tau-btn-add-bg *,
.tau-app-header .tau-context-filter {
    z-index:1 !important;
}
