.generalTable tr.odd td {
    background:#eee;
}
.ui-description p {
    color:#888;
    font-size:16px !important;
    line-height:23px !important;
    color:#555;
}

.selected_clipping td {
  background:#FDFFE5 !important;
}
#advanced_shortcuts {
  background:#fff;
  position:fixed !important;
  left:300px !important;
  top:100px;
  width:450px;
  padding:10px !important;
  border:1px solid #ddd;
  height:auto !important;
  overflow:hidden;
  text-align:left !important;
  box-shadow:1px 2px 3px #333;
  z-index:9999;
}
#overlay_shortcuts table {
  margin-right:20px;
}
#overlay_shortcuts table,
#advanced_shortcuts {
  float:left;
}
